XSD_Schemas/examples/WildCardElementExample.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="product" type="ProductType"/>
    <xs:complexType name="ProductType">
        <xs:sequence>
            <xs:element name="number" type="xs:integer"/>
            <xs:element name="name" type="xs:string"/>
            <xs:any minOccurs="0" maxOccurs="2"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="color" type="xs:string"/>
    <xs:element name="desc" type="xs:string"/>
    <xs:element name="size" type="xs:integer"/>

</xs:schema>